*{
margin:0;
}
   
.header__left img{
    height: 40px;
}
.img__avatar{
    width:45px;
}
.header{
    padding: 10px 20px;
    display: flex;
justify-content: space-between;
position: sticky;
top: 0;
background-color: white;
z-index: 100;
box-shadow: 0 5px 8px -9px rgba(0, 0, 0, 0.75) ;
}
.header__left{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.header__input{
    display: flex;
    align-items: center;
    background-color: #eff2f5;
    padding: 10px;
    margin-left: 10px;
    border-radius: 999px;
}
.header__input input{
    border:none;
    background-color: transparent;
    outline: none;
}
.header__middle{
    display: flex;
    flex:1;
    justify-content: center;
}
.header__option .material-symbols-outlined{
    font-size: xx-large;
    color:gray;
}
.header__option:hover .material-symbols-outlined{
    color:#2e81f4;
}
.header__option {
    display: flex;
    align-items: center;
    padding: 0 30px;
     cursor: pointer;
}
.header__option.active .material-symbols-outlined{
    color:#2e81f4;
}
.header__option.active{
    border-bottom: 4px solid #2e81f4;
}
.header__option:hover{
    background-color: #eff2f5;
border-radius: 10px;
align-items: center;
padding: 0 30px;
border-bottom: none;
}
.header__info{
display: flex;
align-items: center;
}
.header__info h4{
   
    margin-left: 10px;
   
}
.header__right {
    align-items: center;
    display: flex;
}
.header__right .material-symbols-outlined{
    color: gray;
    margin:0 10px;
    cursor:pointer;
}
.sidebar__row{
    display: flex;
    align-items: center;
    padding: 10px;
    cursor: pointer;

}
.sidebar__row:hover{
    background-color: lightgray;
    border-radius: 10px;

}
.sidebar__row h4{
    margin-left: 20px;
    font-weight: 600;
}
.sidebar__row .material-symbols-outlined{
    font-size: xx-large;
    color:#2e81f4 ;
}
.story{
    position:relative;
    background-repeat: no-repeat;
    background-size: cover;
    width: 120px;
    height: 200px;
    box-shadow: opx 5px 17px -7px rgba(0, 0, 0, 0.75);
    border-radius: 10px;
    margin-right: 10px;
    cursor: pointer;
    transition: transform 100ms ease-in;
}
.story:hover{
    transform: scale(1.07);
}
.story__avatar{
    margin:10px;
}
.story h4{
    position: absolute;
    bottom: 2px;
    left: 20px;
    color: white;
}
.story__reel{
    padding: 10px 0px;
    display: flex;
}
.main__body{
    display: flex;
}
.feed{
    flex: 1;
    padding: 30px 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.sidebar{
    padding: 25px 10px;
    flex:0.33;
}
.status__updater{
    display: flex;
    margin-top: 30px;
    flex-direction: column;
    border-color: white;
    border-radius: 15px;
    box-shadow: 0px 5px 7px -7px rgba(0, 0, 0, 0.75);
    width: 100%;
}
body{

    background-color: #f1f2f5;
}
.status__user{
    display: flex;
    align-items: center;
    border-bottom: 1px solid #eff2f5;
    padding: 15px;
}
.status__user form{
    display: flex;
    flex: 1;

}
.status__user form input{
    flex: 1;
    outline-width: 0;
    border: none;
    padding: 15px 20px;
    margin: 0 10px;
    border-radius: 999px;
    background-color:white;

}
.status__updater__options{
    display: flex;
    justify-content: space-evenly;


}

    
.status__updater__option
{
    display: flex;
    padding: 8px;
    align-items: center;
    color:gray;
    margin: 5px;
}
.status__updater__option h3
{
font-size: medium;
margin-left: 10px;
}
.status__updater__option :hover{
    cursor: pointer;
    background-color:rgb(206, 210, 214) ;
    border-radius: 20px;
}
.statuses{
    width: 100%;
    margin-top: 15px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0px 5px 7px -7px rgba(0, 0, 0, 0.75); 
}
.statuses .middle__image img{
    width: 100px;
}
.statuses .top{
    display: flex;
    position: relative;
    align-items: center;
    padding: 15px;

}
.statuses h3{
    font-size: medium;
}
.statuses .img__avatar{
    margin-right: 10px;
}
.statuses p{
    font-size: small;
    color:gray;
}
.statuses .middle__text{
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 15px 25px;
}
.statuses .bottom{
    padding-top: 10px;
    border-top: 1px solid lightgray;
    display: flex;
    justify-content: space-evenly;
    font-size: medium;
    color: gray;
    cursor: pointer;
    padding: 15px;
}
.statuses .post__option{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    flex:1;

}
.statuses .post__option p{
    margin-left: 1px;
}
statuses .post__option:hover{
    background-color: #eff2f5;
    border-radius: 10px;
}
.middleimg{
    width: 100%;
    height: 500px;
}
@media(max-idth:768px){
    .sidebar{
        display:none;
    }
    .header .header__input{
        display:none;
    }
    .header .header__middle{
        display: none;
    }
    .header .header__info{
        display: none;
    }
    .widgets{
        display: none;
    }
    .feed{
        margin-top: 20px;
        width: 10%;
        padding: 0;
    }
    .story h4{
        font-size: 10px;
        
    }
    .story img{
           width:4px;
        
    }

}
@media(min_width:320px){
    .story__reel{
        width: 100%;
        overflow-x: scroll;
    }
}
@media (min_width:449px)and(max_width:1440px){
    .feed{
        width: 50%;
        padding: 10px 5px;
    }
}